body {
	text-align: center;
	font-weight: 700;
	font-family:"MS Sans Serif";
	background: url(images/bg.jpg);
	background-size: cover;
}

body#skate {
  background: url(images/holo.gif);
}

.motivate-box {
  max-width: 300px;
  margin: 0 auto;
}

.motivate {
  display: none;
  position: absolute !important;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 200px !important;
  line-height: 60px;
}

.skate-hero {
  width: 250px;
  margin: 20px 0;
}
.break{
  clear: both;
}
.mute {
    height: 25px;
    width: 23px;
    background: url(/images/mute.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    right: 25px;
    top: 25px;
    cursor: pointer;
    display: none;
}

.pc {
  position: relative;
  background: url(images/static.gif) center center;
  background-size:cover;
  display: inline-block;
  min-width:500px;
  min-height: 500px;
  overflow: hidden;
  background-repeat: no-repeat;
  outline: 1px solid #000000;
  border-width: 4px;
  border-style: solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  margin-bottom: 20px;
}

.play-icon {
  width: 11px;
  position: relative;
  top: 2px;
  left: -6px;
}

#player {
    width: 500%;
    height:500px;
    display: block;
    pointer-events: none;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    position: relative;
    left: 50%;
}

.pc.muted #player {
  opacity: 0;
}

.pc-frame {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
}

h1 {
	margin-top: 70px;
    font-weight: 700;
    background: #b8ff9f;
    display: table;
    margin: 30px auto 0 auto;
    padding: 15px 30px;
    border: 5px solid #c1faad;
    box-shadow: inset 1px 1px 0 0px #92c77f;
    font-size: 25px;
}

h1 span.sub {
	color:#cd6180;
	font-size: 18px;
}

h1 span {
	display: block;
    font-size: 20px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height: 22px;
    color: skyblue;
    text-shadow: 0px 2px white;
}

#mc_embed_signup {
    width:600px;
    margin: 0 auto;
    padding: 25px;
    background: #b4edff;
    font-weight: 700;
    display: block;
    margin: 30px auto 0 auto;
    padding: 15px 30px;
    border: 5px solid #8adffa;
    box-shadow: inset 1px 1px 0 0px #5192a6;
    box-sizing: border-box;
}

#mc_embed_signup h2 span {
    display: block;
    font-size: 16px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height: 22px;
    color: #cd6180;
    text-shadow: 0px 2px white;
}

#mc_embed_signup img {
    position: relative;
    width: 75px;
    top: -61px;
    margin-bottom: -81px;
}

#mc_embed_signup label {
  clear:both;
  display: block;
  margin-bottom: 5px;
}

#mc_embed_signup div.mce_inline_error {
  background-color: #e782f6 !important;

}

.mc-field-group {
  text-align: left;
}

#mc_embed_signup input[type=text], #mc_embed_signup input[type=email], #mc_embed_signup textarea   {
  border: 1px solid black;
    border-radius: 3px;
    font-size: 21px;
    padding: 10px 15px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#mc_embed_signup input[type=text].birthday {
  max-width: 25%;
}

.tofu-container {
	height: 270px;
    width: 480px;
    margin: -4px auto 0 auto;
    overflow: hidden;
    border: 5px solid #c4b3f8;
    box-shadow: inset 1px 1px 0 0px #9d90c5;
}

.tofu-container img {
	height: 270px;
	position: relative;
}
.btn:focus{
  outline:none;
}
.btn-box {
	display: table;
	background: #d0fff7;
	border: 5px solid #d9f7ef;
	box-shadow: inset 1px 1px 0 0px #c7e8e1;
	margin:25px auto 0 auto;
}
.btn-col {
	display: table-column;
}
input.btn, a.btn, div.btn {
    font-family: "MS Sans Serif";
    font-size: 20px;
    outline: 1px solid #000000;
    background: #C0C0C0;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    padding: 4px 10px;
    display: table;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    clear: both;
    color: black;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.btn img {
      width: 11px;
}
.btn:visited {
	color: black;
}
.btn-left {
	float: left;
	cursor: pointer;
}
.love {
	float: left;
	background: #d0fff7;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 46px;
	color: #f9d445;
	text-shadow: 2px 4px #836e1f;
}

.love-space {
	padding: 15px 15px 15px 45px;
}

.patCount {
	background: #b1a1f6;
    font-family: sans-serif;
    display: inline-block;
    padding: 5px 0;
    font-size: 23px;
    color: #f7e15f;
    margin-top: 20px;
    border: 5px solid #c4b3f8;
    box-shadow: inset 1px 1px 0 0px #9d90c5;
    width: 480px;
    position: relative;
}

.stats {display: none;}

.patCount a {
	right: 70px;
    position: absolute;
    left: 79px;
    top: -92px;
    opacity: 0;
}

.patCount a img {
	width: 102px;
}


@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
   animation-fill-mode: forwards;  
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .pc #player {
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    position: relative;
    left: 50%;
    bottom: 0;
    height: 380px;
    }

    .pc {
      background: url(images/static.gif) center center;
      background-repeat: no-repeat;
      background-size: cover;
    }


    #mc_embed_signup {
      width: 100%;
    }

  	h1 {
  		padding: 15px 10px;
	    font-size: 22px;
	    margin-top: 18px !important;
	    line-height: 21px;
  	}
  	h1 span {
  		font-size: 12px;
  		color: darkorchid;
  		text-shadow: none;
  		line-height: 13px;
  	}
  	.love-space {
  		font-size: 22px;
    	letter-spacing: 4px;
	}
  	h1 span.sub {
  		line-height: 36px;
  	}
  	.tofu-container {
  		transform: scale(.64);
  		margin: -34px auto 0 -92px;
  	}
  	.btn-box {
  		margin-top: -30px;
  	}

    #skate .btn-box {
      margin-top:0px;
    }
	.btn-left {
		width: 100%;
	}
  .pc {
    display: block;
    min-width: 300px;
    min-height: 300px;
  }
	a.btn {
		padding:4px 0;
	}
	.love {
		width: 100%;
		font-size: 30px;
	}
	.love-space { 
		padding: 10px 20px;
	}
	.patCount { 
		margin-top: 15px;
    	margin-bottom: -15px;
    	margin-left: 2px;
    	width: 337px;
    	border: 3px solid #c4b3f8;
      max-width:100%;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
  	.tofu-container {
   		transform: scale(.6);
    	margin: -50px auto 0 -93px;
	}

	h1 span {
    font-size: 9px;
    line-height: 10px;
	}

	h1 span.sub {
		line-height: 23px;
	}

	.btn-box {
    	margin-top: -50px;
	}
	.patCount {
		font-size: 22px;
	    margin-top: 10px;
	    margin-bottom: -7px;
	    margin-left: -1px;
	    width: 288px;
	    border: 3px solid #c4b3f8;
	}

}