html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

canvas {
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

#unity-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#unity-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
}

#loading-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unity-loading-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.0);
    animation: scale-animation 1.0s ease;
}

#unity-logo {
    text-align: center;
	margin-bottom: 30px;
}

#unity-logo img {
    max-width: 80%;
	opacity: 1.0;
	animation: logo-fadein 1.0s linear;
}

#unity-progress-bar-empty {
    width: 50%;
    height: 15px;
    margin: 10px 20px 20px 10px;
    text-align: left;
    border: 1px solid white;
    padding: 2px;
	animation: progress-fadein 1.0s ease;
}

#unity-progress-bar-full {
    width: 0%;
    height: 100%;
    background: white;
    transition: width 0.5s;
}

.light #unity-progress-bar-empty {
    border-color: black;
}

.light #unity-progress-bar-full {
    background: black;
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.spinner {
    margin: 10px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid white;
    transform: translateZ(0);
    animation: spinner-spin 2.0s infinite linear;
}

@keyframes spinner-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes logo-fadein {
	0% {
		opacity: 0.0;
	}
	25% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

@keyframes progress-fadein {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
		width: 0%;
	}
	100% {
		opacity: 1;
		width: 50%;
	}
}

@keyframes scale-animation {
	0% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1.0);
	}
}
